.blazor-error-boundary {
    background-color: darkred;
    color: white;
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    font-size: large;
    font-weight: bold;
}

    .blazor-error-boundary::after {
        content: "Error: Sales selected"
    }
